### Explore Data
Notebook is to explore the Yelp data to determine if it can be used on a local instance of Juypter Notebook.

In [2]:
#-- Dependences
import pandas as pd
import os

In [3]:
#- Path to dataset
downloadDataPath = "/Users/thefixermac/Development_Data/Workshop/DataScience_FinalProject"

businessPath = os.path.join(downloadDataPath, "yelp_dataset", "business.json")

#### 1 Business.json
Oepn the Yelp dataset for the business; 138 MB

In [ ]:

business_df = pd.read_json(businessPath, lines=True)

business_df.head()

In [ ]:
#-- Information on Cities

#- Get Cities
businessCities = business_df.city.unique()

#- Count
print(f'Total distict cities: {len(businessCities)}')

#- Printout Cities
print(" ")
      
for city in businessCities:
    print(city)

In [ ]:
business_df.shape

#### 2 Reviews
Attempt to open the review.json that is 5.35 GB file

In [8]:

#- Create Path
reviewPath = os.path.join(downloadDataPath, "yelp_dataset", "review.json")


#- Chunk File
chunkSize = 100000

reviewJsonReader = pd.read_json(reviewPath, lines=True, chunksize=chunkSize)


#- Load into Dataframe
counter = 0
review_df = pd.DataFrame()

for reader in reviewJsonReader:
    
    counter +=1
    print(f'Loading data: {counter}')
    
    review_df = pd.concat([review_df, reader])
    
    
    
print("Completed loading data")

Loading data: 1
Loading data: 2
Loading data: 3
Loading data: 4
Loading data: 5
Loading data: 6
Loading data: 7
Loading data: 8
Loading data: 9
Loading data: 10
Loading data: 11
Loading data: 12
Loading data: 13
Loading data: 14
Loading data: 15
Loading data: 16
Loading data: 17
Loading data: 18
Loading data: 19
Loading data: 20
Loading data: 21
Loading data: 22
Loading data: 23
Loading data: 24
Loading data: 25
Loading data: 26
Loading data: 27
Loading data: 28
Loading data: 29
Loading data: 30
Loading data: 31
Loading data: 32
Loading data: 33
Loading data: 34
Loading data: 35
Loading data: 36
Loading data: 37
Loading data: 38
Loading data: 39
Loading data: 40
Loading data: 41
Loading data: 42
Loading data: 43
Loading data: 44
Loading data: 45
Loading data: 46
Loading data: 47
Loading data: 48
Loading data: 49
Loading data: 50
Loading data: 51
Loading data: 52
Loading data: 53
Loading data: 54
Loading data: 55
Loading data: 56
Loading data: 57
Loading data: 58
Loading data: 59
Loading data: 60
Loading data: 61
Loading data: 62
Loading data: 63
Loading data: 64
Loading data: 65
Loading data: 66
Loading data: 67
Completed loading data

In [9]:
review_df.shape

(6685900, 9)

In [10]:
review_df.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,ujmEBvifdJM6h6RLv4wQIg,0,2013-05-07 04:34:36,1,Q1sbwvVQXV2734tPgoKj4Q,1,Total bill for this horrible service? Over $8G...,6,hG7b0MtEbXx5QzbzE6C_VA
1,NZnhc2sEQy3RmzKTZnqtwQ,0,2017-01-14 21:30:33,0,GJXCdrto3ASJOqKeVWPi6Q,5,I *adore* Travis at the Hard Rock's new Kelly ...,0,yXQM5uF2jS6es16SJzNHfg
2,WTqjgwHlXbSFevF32_DJVw,0,2016-11-09 20:09:03,0,2TzJjDVDEuAW6MR5Vuc1ug,5,I have to say that this office really has it t...,3,n6-Gk65cPZL6Uz8qRm3NYw
3,ikCg8xy5JIg_NGPx-MSIDA,0,2018-01-09 20:56:38,0,yi0R0Ugj_xUx_Nek0-_Qig,5,Went in for a lunch. Steak sandwich was delici...,0,dacAIZ6fTM6mqwW5uxkskg
4,b1b1eb3uo-w561D0ZfCEiQ,0,2018-01-30 23:07:38,0,11a8sVPMUFtaC7_ABRkmtw,1,Today was my second out of three sessions I ha...,7,ssoyf2_x0EQMed6fgHeMyQ

In [14]:
usefulValues = review_df.useful.unique()

usefulValues.sort()

usefulValues

array([  -1,    0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
         10,   11,   12,   13,   14,   15,   16,   17,   18,   19,   20,
         21,   22,   23,   24,   25,   26,   27,   28,   29,   30,   31,
         32,   33,   34,   35,   36,   37,   38,   39,   40,   41,   42,
         43,   44,   45,   46,   47,   48,   49,   50,   51,   52,   53,
         54,   55,   56,   57,   58,   59,   60,   61,   62,   63,   64,
         65,   66,   67,   68,   69,   70,   71,   72,   73,   74,   75,
         76,   77,   78,   79,   80,   81,   82,   83,   84,   85,   86,
         87,   88,   89,   90,   91,   92,   93,   94,   95,   96,   97,
         98,   99,  100,  101,  102,  103,  104,  105,  106,  107,  108,
        109,  110,  111,  112,  113,  114,  115,  116,  117,  118,  119,
        120,  121,  122,  123,  124,  125,  126,  127,  128,  129,  130,
        131,  132,  133,  134,  135,  136,  137,  139,  140,  141,  142,
        143,  144,  145,  146,  147,  148,  149,  150,  151,  153,  154,
        155,  156,  158,  159,  160,  161,  162,  163,  164,  165,  166,
        167,  168,  169,  171,  172,  173,  175,  176,  177,  178,  179,
        180,  181,  182,  183,  184,  185,  187,  188,  189,  190,  191,
        193,  194,  196,  197,  198,  199,  200,  201,  202,  203,  204,
        207,  208,  209,  210,  211,  212,  213,  214,  215,  216,  217,
        218,  220,  222,  223,  225,  228,  229,  232,  235,  239,  241,
        244,  247,  249,  251,  255,  256,  257,  260,  266,  267,  271,
        272,  273,  274,  275,  276,  278,  280,  283,  284,  285,  287,
        292,  303,  305,  306,  308,  311,  312,  317,  320,  321,  328,
        333,  337,  338,  339,  354,  358,  360,  362,  364,  373,  377,
        382,  401,  405,  414,  419,  450,  467,  498,  500,  507,  509,
        514,  526,  538,  539,  578,  650,  668,  694,  781,  808,  846,
        970, 1122, 1241])