In [254]:
import pandas as pd
import requests
import json
import numpy as np

In [255]:
#stock_data=pd.read_csv("./stock_data.csv")
stock_data=pd.read_csv("./stock_data_all.csv")

In [256]:
stock_data.head()

,Unnamed: 0,AMAT,AAPL,CSPI,ALOT,CAMP,KTCC,RELL,LRCX,MGRC,...,VUZI,WSTG,WDC,WYY,WIT,WDAY,WPP,XRX,XPER,ZIXI
0,8/8/2016,"{'1. open': '26.8500', '2. high': '26.9200', '...","{'1. open': '107.5200', '2. high': '108.3700',...","{'1. open': '8.4500', '2. high': '8.9200', '3....","{'1. open': '16.0000', '2. high': '16.1500', '...","{'1. open': '15.1500', '2. high': '15.5300', '...","{'1. open': '7.5500', '2. high': '7.7700', '3....","{'1. open': '6.2000', '2. high': '6.2400', '3....","{'1. open': '93.1600', '2. high': '93.3000', '...","{'1. open': '31.4200', '2. high': '31.6500', '...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'1. open': '5.7600', '2. high': '6.2000', '3....",NaN
1,8/9/2016,"{'1. open': '26.9500', '2. high': '26.9500', '...","{'1. open': '108.2300', '2. high': '108.9400',...","{'1. open': '8.8000', '2. high': '8.8000', '3....","{'1. open': '15.7800', '2. high': '16.1500', '...","{'1. open': '15.4500', '2. high': '15.7100', '...","{'1. open': '7.8200', '2. high': '7.8200', '3....","{'1. open': '6.1600', '2. high': '6.2300', '3....","{'1. open': '92.9700', '2. high': '93.4510', '...","{'1. open': '31.3100', '2. high': '31.5350', '...",...,"{'1. open': '70.4200', '2. high': '70.8500', '...","{'1. open': '20.2600', '2. high': '20.3800', '...","{'1. open': '122.1300', '2. high': '122.8600',...","{'1. open': '15.6300', '2. high': '15.7000', '...","{'1. open': '11.3833', '2. high': '11.6500', '...","{'1. open': '3.4001', '2. high': '3.4800', '3....","{'1. open': '62.0200', '2. high': '62.3000', '...","{'1. open': '22.2400', '2. high': '22.4000', '...","{'1. open': '6.1000', '2. high': '6.3000', '3....","{'1. open': '31.2900', '2. high': '31.3700', '..."
2,8/10/2016,"{'1. open': '26.8000', '2. high': '26.8600', '...","{'1. open': '108.7100', '2. high': '108.9000',...","{'1. open': '8.8400', '2. high': '8.9200', '3....","{'1. open': '16.1500', '2. high': '16.1500', '...","{'1. open': '15.4400', '2. high': '15.6200', '...","{'1. open': '7.6100', '2. high': '7.6700', '3....","{'1. open': '6.2500', '2. high': '6.2500', '3....","{'1. open': '93.0600', '2. high': '93.1900', '...","{'1. open': '30.7900', '2. high': '31.3850', '...",...,"{'1. open': '70.2300', '2. high': '70.3100', '...","{'1. open': '20.2600', '2. high': '20.2800', '...","{'1. open': '121.8800', '2. high': '123.4500',...","{'1. open': '15.6100', '2. high': '16.0700', '...","{'1. open': '11.6300', '2. high': '11.6500', '...","{'1. open': '3.4700', '2. high': '3.4700', '3....","{'1. open': '61.1800', '2. high': '61.6600', '...","{'1. open': '22.0200', '2. high': '22.2200', '...","{'1. open': '5.9601', '2. high': '6.1400', '3....","{'1. open': '27.6200', '2. high': '27.9400', '..."
3,8/11/2016,"{'1. open': '26.5600', '2. high': '26.9900', '...","{'1. open': '108.5200', '2. high': '108.9300',...","{'1. open': '8.9300', '2. high': '8.9620', '3....","{'1. open': '16.2500', '2. high': '16.4100', '...","{'1. open': '15.4300', '2. high': '15.5500', '...","{'1. open': '7.5440', '2. high': '7.5700', '3....","{'1. open': '6.1600', '2. high': '6.3000', '3....","{'1. open': '89.1500', '2. high': '89.8700', '...","{'1. open': '31.1900', '2. high': '31.4800', '...",...,"{'1. open': '70.0000', '2. high': '70.2000', '...","{'1. open': '20.3600', '2. high': '20.3600', '...","{'1. open': '134.3100', '2. high': '140.9800',...","{'1. open': '16.0200', '2. high': '16.7200', '...","{'1. open': '11.6800', '2. high': '11.6800', '...","{'1. open': '3.4000', '2. high': '3.4700', '3....","{'1. open': '61.2600', '2. high': '62.0000', '...","{'1. open': '22.2000', '2. high': '22.4700', '...","{'1. open': '5.9133', '2. high': '5.9850', '3....","{'1. open': '27.0800', '2. high': '27.3101', '..."
4,8/12/2016,"{'1. open': '26.8600', '2. high': '27.2200', '...","{'1. open': '107.7800', '2. high': '108.4400',...","{'1. open': '8.7700', '2. high': '8.9200', '3....","{'1. open': '16.4000', '2. high': '16.4000', '...","{'1. open': '15.3900', '2. high': '15.6200', '...","{'1. open': '7.4300', '2. high': '7.5200', '3....","{'1. open': '6.1400', '2. high': '6.3000', '3....","{'1. open': '89.0600', '2. high': '90.1900', '...","{'1. open': '31.3000', '2. high': '31.4500', '...",...,"{'1. open': '70.0000', '2. high': '70.2200', '...","{'1. open': '20.3053', '2. high': '20.3700', '...","{'1. open': '132.1400', '2. high': '132.6000',...","{'1. open': '17.5700', '2. high': '17.5700', '...","{'1. open': '10.9700', '2. high': '11.1800', '...","{'1. open': '3.4648', '2. high': '3.4868', '3....","{'1. open': '61.3100', '2. high': '61.9500', '...","{'1. open': '22.3700', '2. high': '22.5200', '...","{'1. open': '5.7500', '2. high': '5.7500', '3....","{'1. open': '27.0800', '2. high': '27.5400', '..."

In [257]:
stock_data=stock_data.iloc[:,[0,2]]

In [258]:
stock_df={}
for col in range(stock_data.shape[1]):
    if col>0:
        stock_df[stock_data.columns[col]]=[]

In [259]:
means_list=[np.nan]
for col in range(stock_data.shape[1]):
    if col>0:
        dt=stock_data[stock_data.columns[col]][stock_data[stock_data.columns[col]].isnull()==False].reset_index()
        colmean=np.mean([float(eval(dt.iloc[i,1])['4. close']) for i in range(dt.shape[0]) ])
        means_list.append(colmean)

In [260]:
for col in range(stock_data.shape[1]):
    for row in range(stock_data.shape[0]):
        if col>0:
            try:
                stock_df[stock_data.columns[col]].append(eval(stock_data.iloc[row,col])['4. close'])
            except TypeError:
                print(f"{row},{col}")
                #stock_df[stock_data.columns[col]].append(stock_df[stock_data.columns[col]][-1])
                stock_df[stock_data.columns[col]].append(means_list[col])

In [261]:
df=pd.DataFrame(stock_df)

df['Date']=stock_data.iloc[:,0]

In [262]:
df.shape

(730, 2)

In [270]:
df2=pd.melt(df, id_vars=['Date'], value_vars=stock_data.columns[1:])

df2=df2.rename(columns={'Date':'Close_Date',
             'variable':'Symbol',
             'value':'Close_Price'})

In [271]:
df2['Close_Date']=pd.to_datetime(df2['Close_Date'])

df2=df2.sort_values(['Symbol','Close_Date'])

df2['Close_Price_Next_Day'] = df2.groupby(['Symbol'])['Close_Price'].shift(-1)

df2=df2[df2['Close_Price_Next_Day'].notnull()]

df2['Daily_Return']=pd.to_numeric(df2['Close_Price_Next_Day'])/pd.to_numeric(df2['Close_Price'])

In [279]:
data=df2.copy(deep=True)[['Close_Date','Daily_Return']]

In [310]:
data.head()

            Daily_Return
Close_Date
2016-08-08      1.004060
2016-08-09      0.992556
2016-08-10      0.999352
2016-08-11      1.002316
2016-08-12      1.012017

In [311]:
data.index = pd.to_datetime(data.Close_Date)

AttributeError: 'DataFrame' object has no attribute 'Close_Date'

In [282]:
data=data[['Daily_Return']]

In [312]:
import matplotlib.pyplot as plt
import cufflinks as cf
plt.scatter(data,title="AAPL performance")
plt.show()

TypeError: scatter() missing 1 required positional argument: 'y'

In [303]:
from plotly.plotly import plot_mpl
from statsmodels.tsa.seasonal import seasonal_decompose
result = seasonal_decompose(data, model='multiplicative',freq=30)
#fig = result.plot()
#plot_mpl(fig)

In [304]:
result

In [309]:
from pyramid.arima import auto_arima
stepwise_model = auto_arima(data, start_p=1, start_q=1,
                           max_p=3, max_q=3, m=12,
                           start_P=0, seasonal=True,
                           d=1, D=1, trace=True,
                           error_action='ignore',  
                           suppress_warnings=True, 
                           stepwise=True)
print(stepwise_model.aic())

ImportError: cannot import name 'auto_arima' from 'pyramid' (C:\Users\david\anaconda\Anaconda3\lib\site-packages\pyramid\__init__.py)