In [50]:
# Dependencies
import numpy as np
import pandas as pd
import requests
import time

In [51]:
#get list of company names
company_names = pd.read_csv('companylist2.csv')

In [52]:
#get symbols of the companies
companies = list(company_names['Symbol'])

In [53]:
#only run once!
list_stocks = []

In [90]:
num = 423
total = len(companies)
for i in range(402,total):
    time.sleep(14)
    url = "https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol="+ f'{companies[i]}'+"&outputsize=full&apikey=WBX7LU6ERVSP822O"
    stock_response = requests.get(url)
    print(stock_response)
    stock_response = stock_response.json()
    meta_data = stock_response['Meta Data']
    del stock_response['Meta Data']
    list_stocks.append(stock_response)
    print(i)

<Response [200]>
402
<Response [200]>
403
<Response [200]>
404
<Response [200]>
405
<Response [200]>
406
<Response [200]>
407
<Response [200]>
408
<Response [200]>
409
<Response [200]>
410
<Response [200]>
411
<Response [200]>
412
<Response [200]>
413
<Response [200]>
414
<Response [200]>
415
<Response [200]>
416
<Response [200]>
417
<Response [200]>
418
<Response [200]>
419
<Response [200]>
420
<Response [200]>
421
<Response [200]>
422
<Response [200]>
423
<Response [200]>
424
<Response [200]>
425
<Response [200]>
426
<Response [200]>
427
<Response [200]>
428
<Response [200]>
429
<Response [200]>
430
<Response [200]>
431
<Response [200]>
432
<Response [200]>
433
<Response [200]>
434
<Response [200]>
435
<Response [200]>
436
<Response [200]>
437
<Response [200]>
438
<Response [200]>
439
<Response [200]>
440
<Response [200]>
441
<Response [200]>
442
<Response [200]>
443
<Response [200]>
444
<Response [200]>
445
<Response [200]>
446
<Response [200]>
447
<Response [200]>
448
<Response [200]>
449
<Response [200]>
450
<Response [200]>
451
<Response [200]>
452
<Response [200]>
453
<Response [200]>
454
<Response [200]>
455
<Response [200]>
456
<Response [200]>
457
<Response [200]>
458
<Response [200]>
459
<Response [200]>
460
<Response [200]>
461
<Response [200]>
462
<Response [200]>
463
<Response [200]>
464
<Response [200]>
465
<Response [200]>
466
<Response [200]>
467
<Response [200]>
468
<Response [200]>
469
<Response [200]>
470
<Response [200]>
471
<Response [200]>
472
<Response [200]>
473
<Response [200]>
474
<Response [200]>
475
<Response [200]>
476
<Response [200]>
477
<Response [200]>
478
<Response [200]>
479
<Response [200]>
480
<Response [200]>
481
<Response [200]>
482
<Response [200]>
483
<Response [200]>
484
<Response [200]>
485
<Response [200]>
486
<Response [200]>
487
<Response [200]>
488
<Response [200]>
489
<Response [200]>
490
<Response [200]>
491
<Response [200]>
492
<Response [200]>
493
<Response [200]>
494
<Response [200]>
495
<Response [200]>
496
<Response [200]>
497
<Response [200]>
498
<Response [200]>
499
<Response [200]>
500
<Response [200]>
501
<Response [200]>
502
<Response [200]>
503
<Response [200]>
504
<Response [200]>
505
<Response [200]>
506
<Response [200]>
507
<Response [200]>
508
<Response [200]>
509
<Response [200]>
510
<Response [200]>
511
<Response [200]>
512
<Response [200]>
513
<Response [200]>
514
<Response [200]>
515
<Response [200]>
516
<Response [200]>
517
<Response [200]>
518
<Response [200]>
519
<Response [200]>
520
<Response [200]>
521
<Response [200]>
522
<Response [200]>
523
<Response [200]>
524
<Response [200]>
525
<Response [200]>
526
<Response [200]>
527
<Response [200]>
528
<Response [200]>
529
<Response [200]>
530
<Response [200]>
531
<Response [200]>
532
<Response [200]>
533
<Response [200]>
534
<Response [200]>
535
<Response [200]>
536
<Response [200]>
537
<Response [200]>
538
<Response [200]>
539
<Response [200]>
540
<Response [200]>
541
<Response [200]>
542
<Response [200]>
543
<Response [200]>
544
<Response [200]>
545
<Response [200]>
546
<Response [200]>
547
<Response [200]>
548
<Response [200]>
549
<Response [200]>
550
<Response [200]>
551
<Response [200]>
552
<Response [200]>
553
<Response [200]>
554
<Response [200]>
555
<Response [200]>
556
<Response [200]>
557
<Response [200]>
558
<Response [200]>
559
<Response [200]>
560
<Response [200]>
561
<Response [200]>
562
<Response [200]>
563
<Response [200]>
564
<Response [200]>
565
<Response [200]>
566
<Response [200]>
567
<Response [200]>
568
<Response [200]>
569
<Response [200]>
570
<Response [200]>
571
<Response [200]>
572
<Response [200]>
573
<Response [200]>
574

In [95]:
#create data frame for first list item and add to it in for loop
stock_data = pd.DataFrame(list_stocks[0]).iloc[-730:]

#rename column with company name
stock_data = stock_data.rename(columns={"Time Series (Daily)": f"{companies[0]}"})

for i in range(1, 575):
    #only get past 2 years
    stock_data[f'{companies[i]}'] = pd.DataFrame(list_stocks[i]).iloc[-730:]

In [96]:
print(stock_data.shape)
stock_data.head()

(730, 575)

,AMAT,AAPL,CSPI,ALOT,CAMP,KTCC,RELL,LRCX,MGRC,JKHY,...,VUZI,WSTG,WDC,WYY,WIT,WDAY,WPP,XRX,XPER,ZIXI
2016-08-08,"{'1. open': '26.8500', '2. high': '26.9200', '...","{'1. open': '107.5200', '2. high': '108.3700',...","{'1. open': '8.4500', '2. high': '8.9200', '3....","{'1. open': '16.0000', '2. high': '16.1500', '...","{'1. open': '15.1500', '2. high': '15.5300', '...","{'1. open': '7.5500', '2. high': '7.7700', '3....","{'1. open': '6.2000', '2. high': '6.2400', '3....","{'1. open': '93.1600', '2. high': '93.3000', '...","{'1. open': '31.4200', '2. high': '31.6500', '...","{'1. open': '88.8500', '2. high': '88.8800', '...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'1. open': '5.7600', '2. high': '6.2000', '3....",NaN
2016-08-09,"{'1. open': '26.9500', '2. high': '26.9500', '...","{'1. open': '108.2300', '2. high': '108.9400',...","{'1. open': '8.8000', '2. high': '8.8000', '3....","{'1. open': '15.7800', '2. high': '16.1500', '...","{'1. open': '15.4500', '2. high': '15.7100', '...","{'1. open': '7.8200', '2. high': '7.8200', '3....","{'1. open': '6.1600', '2. high': '6.2300', '3....","{'1. open': '92.9700', '2. high': '93.4510', '...","{'1. open': '31.3100', '2. high': '31.5350', '...","{'1. open': '88.1900', '2. high': '88.4600', '...",...,"{'1. open': '70.4200', '2. high': '70.8500', '...","{'1. open': '20.2600', '2. high': '20.3800', '...","{'1. open': '122.1300', '2. high': '122.8600',...","{'1. open': '15.6300', '2. high': '15.7000', '...","{'1. open': '11.3833', '2. high': '11.6500', '...","{'1. open': '3.4001', '2. high': '3.4800', '3....","{'1. open': '62.0200', '2. high': '62.3000', '...","{'1. open': '22.2400', '2. high': '22.4000', '...","{'1. open': '6.1000', '2. high': '6.3000', '3....","{'1. open': '31.2900', '2. high': '31.3700', '..."
2016-08-10,"{'1. open': '26.8000', '2. high': '26.8600', '...","{'1. open': '108.7100', '2. high': '108.9000',...","{'1. open': '8.8400', '2. high': '8.9200', '3....","{'1. open': '16.1500', '2. high': '16.1500', '...","{'1. open': '15.4400', '2. high': '15.6200', '...","{'1. open': '7.6100', '2. high': '7.6700', '3....","{'1. open': '6.2500', '2. high': '6.2500', '3....","{'1. open': '93.0600', '2. high': '93.1900', '...","{'1. open': '30.7900', '2. high': '31.3850', '...","{'1. open': '88.6000', '2. high': '88.9601', '...",...,"{'1. open': '70.2300', '2. high': '70.3100', '...","{'1. open': '20.2600', '2. high': '20.2800', '...","{'1. open': '121.8800', '2. high': '123.4500',...","{'1. open': '15.6100', '2. high': '16.0700', '...","{'1. open': '11.6300', '2. high': '11.6500', '...","{'1. open': '3.4700', '2. high': '3.4700', '3....","{'1. open': '61.1800', '2. high': '61.6600', '...","{'1. open': '22.0200', '2. high': '22.2200', '...","{'1. open': '5.9601', '2. high': '6.1400', '3....","{'1. open': '27.6200', '2. high': '27.9400', '..."
2016-08-11,"{'1. open': '26.5600', '2. high': '26.9900', '...","{'1. open': '108.5200', '2. high': '108.9300',...","{'1. open': '8.9300', '2. high': '8.9620', '3....","{'1. open': '16.2500', '2. high': '16.4100', '...","{'1. open': '15.4300', '2. high': '15.5500', '...","{'1. open': '7.5440', '2. high': '7.5700', '3....","{'1. open': '6.1600', '2. high': '6.3000', '3....","{'1. open': '89.1500', '2. high': '89.8700', '...","{'1. open': '31.1900', '2. high': '31.4800', '...","{'1. open': '89.3700', '2. high': '89.4700', '...",...,"{'1. open': '70.0000', '2. high': '70.2000', '...","{'1. open': '20.3600', '2. high': '20.3600', '...","{'1. open': '134.3100', '2. high': '140.9800',...","{'1. open': '16.0200', '2. high': '16.7200', '...","{'1. open': '11.6800', '2. high': '11.6800', '...","{'1. open': '3.4000', '2. high': '3.4700', '3....","{'1. open': '61.2600', '2. high': '62.0000', '...","{'1. open': '22.2000', '2. high': '22.4700', '...","{'1. open': '5.9133', '2. high': '5.9850', '3....","{'1. open': '27.0800', '2. high': '27.3101', '..."
2016-08-12,"{'1. open': '26.8600', '2. high': '27.2200', '...","{'1. open': '107.7800', '2. high': '108.4400',...","{'1. open': '8.7700', '2. high': '8.9200', '3....","{'1. open': '16.4000', '2. high': '16.4000', '...","{'1. open': '15.3900', '2. high': '15.6200', '...","{'1. open': '7.4300', '2. high': '7.5200', '3....","{'1. open': '6.1400', '2. high': '6.3000', '3....","{'1. open': '89.0600', '2. high': '90.1900', '...","{'1. open': '31.3000', '2. high': '31.4500', '...","{'1. open': '88.5100', '2. high': '88.7300', '...",...,"{'1. open': '70.0000', '2. high': '70.2200', '...","{'1. open': '20.3053', '2. high': '20.3700', '...","{'1. open': '132.1400', '2. high': '132.6000',...","{'1. open': '17.5700', '2. high': '17.5700', '...","{'1. open': '10.9700', '2. high': '11.1800', '...","{'1. open': '3.4648', '2. high': '3.4868', '3....","{'1. open': '61.3100', '2. high': '61.9500', '...","{'1. open': '22.3700', '2. high': '22.5200', '...","{'1. open': '5.7500', '2. high': '5.7500', '3....","{'1. open': '27.0800', '2. high': '27.5400', '..."

In [97]:
stock_data.to_csv('stock_data_all.csv')